/*
Colors used

background-color: #abebc6;
font-color-body:#154360;

 */

 :root {
   --background-color: #abebc6;
   --font-color-body:#154360;
 }


body {

  background-color:  var(--background-color);
  color: var(--font-color-body);
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
}

.logo {
  width: 15%;
  height: 15%;
  margin-right: 3px;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
